@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,400;1,700&display=swap');

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #202124;
    font-size: 18px;
    margin: 20px auto;
    max-width: 100%;
    min-width: 950px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    max-width: 60rem;
    line-height: 1.75rem;
    padding: 2rem;
}

a,
a:visited {
    color: #3498db;
}

a:hover,
a:focus,
a:active {
    color: #2980b9;
}

blockquote {
    border-left: 8px solid #fafafa;
    padding: .1rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

figure {
    /* border: 2px solid #eee; */
    margin: 2rem auto;
    padding: 8px;
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: 1rem;
}

h1:first-of-type {
    text-align: center;
    border-bottom: 2px solid #ddd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arimo, Helvetica, sans-serif;
    padding: 1.2rem 0;
    margin: 0;
}

h1 {
    border-bottom: 1px solid #ddd;
    margin-top: 2rem;
}

hr {
    background-color: #eee;
    border: 0;
    height: 1px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
    max-width: 100%;
}

ol,
ul {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

pre {
    padding: .5rem;
    line-height: 1.25;
    overflow-x: scroll;
}

pre,
code {
    background-color: #fafafa;
    font-family: Menlo, Monaco, 'Courier New', monospace;
}

table {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 2rem auto;
    background-color: #f7f7f7;
}

table thead th {
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    border-collapse: collapse;
    box-sizing: border-box;
    text-align: inherit;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #f1f1f1;
}

table td {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    border-collapse: collapse;
    box-sizing: border-box;
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.demo {
    color: #408080;
    font-weight: 700;
}

.header {
    color: #333333;
    background-color: #E2E2E2;
    font-size: 2.2rem;
    font-family: Georgia, "Times New Roman", Times, serif;
}

/* .spoiler_outer {
    cursor: pointer;
}

.spoiler_inner {
    display: none;
}

.spoiler_outer:focus-within .spoiler_inner {
    display: inherit;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.2em;
}

.spoiler_placeholder {
    height: 1.4em;
    display: inherit;
    background: #333333;
    border-radius: 0.2em;
    cursor: pointer;
}

.spoiler_outer:focus-within .spoiler_placeholder {
    display: none;
} */

.wrapper h1 {
    margin: 1rem auto;
}

/* details {
    display: block;
    border: 1px solid black;
    padding: 10px;
}

details summary {
    cursor: pointer;
}

details summary:hover {
    background-color: lightgray;
}

details>p {
    display: none;
}

details[open]>p {
    display: block;
} */

details {
    margin: 20px 0;
    color: white;
    background-color: #282828;
    margin-bottom: .5rem;
    box-shadow: 0 .1rem 1rem -.5rem rgba(0, 0, 0, .4);
    border-radius: 5px;
    overflow: hidden;
}

summary {
    padding: 1rem;
    display: block;
    color: white;
    background-color: #333;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
}

summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.4rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

details[open]>summary:before {
    transform: rotate(90deg);
}


details summary::-webkit-details-marker {
    display: none;
}

details>div {
    padding: 1em 1em 0;
    font-size: 0.875em;
}